GEB15I_1008/GEB15I_kurzusfelvetel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://example.com/kurzusfelvetel"
		   xmlns:k="http://example.com/kurzusfelvetel"
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified">

	<xs:simpleType name="tanevTipus">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}/[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="egyetemTipus">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="idTipus">
		<xs:restriction base="xs:ID">
			<xs:pattern value="[A-Za-z0-9_.-]+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="igenNemTipus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="igen"/>
			<xs:enumeration value="nem"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="hallgato">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="hnev" type="xs:string"/>
				<xs:element name="szulev" type="xs:string"/>
				<xs:element name="szak">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="evf" type="xs:gYear" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="kurzusok">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="k:kurzus" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="kurzus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="k:kurzusnev"/>
				<xs:element name="kredit" type="xs:positiveInteger"/>
				<xs:element name="hely" type="xs:string"/>
				<xs:element name="oraado" type="xs:string" minOccurs="0"/>
				<xs:element name="idopont" type="xs:string"/>
				<xs:element ref="k:oktato"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="kurzusnev">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="k:idTipus" use="required"/>
					<xs:attribute name="jovahagyas" type="k:igenNemTipus" use="required"/>
					<xs:attribute name="nyelv" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="oktato">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="k:idTipus" use="required"/>
					<xs:attribute name="jovahagyas" type="k:igenNemTipus" use="required"/>
					<xs:attribute name="nyelv" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="GEB15I_kurzusfelvetel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="k:hallgato"/>
				<xs:element ref="k:kurzusok"/>
			</xs:sequence>
			<xs:attribute name="felev" type="k:tanevTipus" use="required"/>
			<xs:attribute name="egyetem" type="k:egyetemTipus" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:unique name="kurzusNevIdEgyedi">
		<xs:selector xpath="k:kurzusok/k:kurzus/k:kurzusnev"/>
		<xs:field xpath="@id"/>
	</xs:unique>
	<xs:unique name="oktatoIdEgyedi">
		<xs:selector xpath="k:kurzusok/k:kurzus/k:oktato"/>
		<xs:field xpath="@id"/>
	</xs:unique>

</xs:schema>
