GEB15_1001/KD_DogWorld.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   elementFormDefault="unqualified"
		   attributeFormDefault="unqualified">

	<xs:element name="konyvek">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="konyv" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cim" type="xs:string"/>
							<xs:element name="szerzo" type="xs:string"/>
							<xs:element name="szereplo" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nev" type="xs:string"/>
										<xs:element name="baratja" type="xs:string" minOccurs="0"/>
										<xs:element name="szuletett" type="xs:date"/>
										<xs:element name="jellemzes" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="isbn" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{10}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:unique name="egyediIsbn">
				<xs:selector xpath="konyv"/>
				<xs:field xpath="@isbn"/>
			</xs:unique>
		</xs:complexType>
	</xs:element>

</xs:schema>
