GEB15_1001/KD_orarend1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://example.com/orarend"
		   xmlns:or="http://example.com/orarend"
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified">

	<!-- Alaptípusok -->
	<xs:simpleType name="OraIdType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>

	<xs:simpleType name="OraTipusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="elmelet"/>
			<xs:enumeration value="gyakorlat"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NapType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Hétfő"/>
			<xs:enumeration value="Kedd"/>
			<xs:enumeration value="Szerda"/>
			<xs:enumeration value="Csütörtök"/>
			<xs:enumeration value="Péntek"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IdoType">
		<xs:restriction base="xs:string">
			<!-- HH:MM 24 órás formátum -->
			<xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SzovegType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- idopont összetett típus -->
	<xs:complexType name="IdopontType">
		<xs:sequence>
			<xs:element name="nap" type="or:NapType"/>
			<xs:element name="tol" type="or:IdoType"/>
			<xs:element name="ig" type="or:IdoType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ora komplex típus -->
	<xs:complexType name="OraType">
		<xs:sequence>
			<xs:element name="targy" type="or:SzovegType"/>
			<xs:element name="idopont" type="or:IdopontType"/>
			<xs:element name="helyszin" type="or:SzovegType"/>
			<xs:element name="oktato" type="or:SzovegType"/>
			<xs:element name="szak" type="or:SzovegType"/>
		</xs:sequence>
		<xs:attribute name="id" type="or:OraIdType" use="required"/>
		<xs:attribute name="tipus" type="or:OraTipusType" use="required"/>
	</xs:complexType>

	<!-- Gyökérelem típusa -->
	<xs:complexType name="OrarendType">
		<xs:sequence>
			<xs:element name="ora" type="or:OraType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Gyökérelem -->
	<xs:element name="KD_orarend" type="or:OrarendType"/>

	<!-- Egyediség kényszer az ora/@id mezőre -->
	<xs:unique name="egyediOraId">
		<xs:selector xpath="or:ora"/>
		<xs:field xpath="@id"/>
	</xs:unique>

</xs:schema>
