GEB15_1001/KD_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   elementFormDefault="unqualified"
		   attributeFormDefault="unqualified">

	<!-- Gyökérelem -->
	<xs:element name="KD_orarend">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ora" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="targy" type="xs:string"/>
							<xs:element name="idopont">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nap" type="xs:string"/>
										<xs:element name="tol" type="xs:string"/>
										<xs:element name="ig" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="helyszin" type="xs:string"/>
							<xs:element name="oktato" type="xs:string"/>
							<xs:element name="szak" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="id" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:nonNegativeInteger"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="tipus" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="elmelet"/>
									<xs:enumeration value="gyakorlat"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<!-- Egyediség: ora/@id legyen egyedi -->
			<xs:unique name="egyediOraId">
				<xs:selector xpath="ora"/>
				<xs:field xpath="@id"/>
			</xs:unique>
		</xs:complexType>
	</xs:element>

</xs:schema>
