GEB15I_0924/GEB15I_kurzusfelvetel.dtd

    <!ELEMENT hallgato (hnev, szulev, szak)>
    <!ELEMENT hnev (#PCDATA)>
    <!ELEMENT szulev (#PCDATA)>
    <!ELEMENT szak (#PCDATA)>
    <!ATTLIST szak evf CDATA #REQUIRED>

    <!ELEMENT kurzusok (kurzus*)>
    <!ELEMENT kurzus (kurzusnev, kredit, hely, oraado, idopont, oktato)>
    <!ATTLIST kurzus id ID #REQUIRED>

    <!ELEMENT kurzusnev (#PCDATA)>
    <!ATTLIST kurzusnev id ID #REQUIRED>
    <!ATTLIST kurzusnev jovahagyas (igen | nem) #REQUIRED>
    <!ATTLIST kurzusnev nyelv CDATA #REQUIRED>

    <!ELEMENT kredit (#PCDATA)>
    <!ELEMENT hely (#PCDATA)>
    <!ELEMENT oraado (#PCDATA)>
    <!ELEMENT idopont (#PCDATA)>
    
    <!ELEMENT oktato (#PCDATA)>
    <!ATTLIST oktato id ID #REQUIRED>
    <!ATTLIST oktato jovahagyas (igen | nem) #REQUIRED>
    <!ATTLIST oktato nyelv CDATA #REQUIRED>